body{
	background-color: #232323;
	margin:0;
	font-family: "Avenir";
}
h1{
	color: white;
	background-color: steelblue;
	text-align: center;
	margin:0;
	font-weight:normal;
	text-transform:uppercase;
	padding:20px 0;
	line-height: 1.1;
}

.square{
	margin:1.66%;
	padding-bottom: 30%;
    float: left;
	width:30%;
	background-color: purple;
	border-radius:40%;
	transition:background 0.6s;
}

#cont{
    max-width: 600px;
	margin: 0px auto;

}

#stripe{
	height:30px;
	text-align: center;
	background-color: white;
}

.selected{
   background-color: steelblue;
   color: white;
}

#rgb{
	font-size: 200%;
}

button{
	border:none;
	background:none;
	text-transform: uppercase;
	height:100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition:all 0.3s;
	outline: none;
}

#message{
	display:inline-block;
	width:20%;
	font-weight: 400;
}

button:hover{
	color:white;
	background: steelblue;
}
